
ApplicationCore/bin/Debug/net5.0/ApplicationCore.dll
ApplicationCore/bin/Debug/net5.0/ApplicationCore.pdb
ApplicationCore/bin/Debug/net5.0/Helpers.dll
ApplicationCore/bin/Debug/net5.0/Helpers.pdb
ApplicationCore/obj/ApplicationCore.csproj.nuget.dgspec.json
ApplicationCore/obj/ApplicationCore.csproj.nuget.g.props
ApplicationCore/obj/Debug/net5.0/ApplicationCore.assets.cache
ApplicationCore/obj/Debug/net5.0/ApplicationCore.csproj.AssemblyReference.cache
ApplicationCore/obj/Debug/net5.0/ApplicationCore.csproj.FileListAbsolute.txt
ApplicationCore/obj/Debug/net5.0/ApplicationCore.csprojAssemblyReference.cache
ApplicationCore/obj/Debug/net5.0/ApplicationCore.dll
ApplicationCore/obj/Debug/net5.0/ApplicationCore.pdb
ApplicationCore/obj/project.assets.json
ApplicationCore/obj/project.nuget.cache
BLL/obj/BLL.csproj.nuget.dgspec.json
BLL/obj/BLL.csproj.nuget.g.props
BLL/obj/BLL.csproj.nuget.g.targets
BLL/obj/project.assets.json
BLL/obj/project.nuget.cache
DAL/obj/DAL.csproj.nuget.dgspec.json
DAL/obj/DAL.csproj.nuget.g.props
DAL/obj/DAL.csproj.nuget.g.targets
DAL/obj/project.assets.json
DAL/obj/project.nuget.cache
Helpers/bin/Debug/net5.0/Helpers.dll
Helpers/bin/Debug/net5.0/Helpers.pdb
Helpers/obj/Debug/net5.0/Helpers.assets.cache
Helpers/obj/Debug/net5.0/Helpers.csproj.AssemblyReference.cache
Helpers/obj/Debug/net5.0/Helpers.csproj.FileListAbsolute.txt
Helpers/obj/Debug/net5.0/Helpers.csprojAssemblyReference.cache
Helpers/obj/Debug/net5.0/Helpers.dll
Helpers/obj/Debug/net5.0/Helpers.pdb
Helpers/obj/Helpers.csproj.nuget.dgspec.json
Helpers/obj/Helpers.csproj.nuget.g.props
Helpers/obj/project.assets.json
Helpers/obj/project.nuget.cache
Infraestructure/bin/Debug/net5.0/ApplicationCore.dll
Infraestructure/bin/Debug/net5.0/ApplicationCore.pdb
Infraestructure/bin/Debug/net5.0/Helpers.dll
Infraestructure/bin/Debug/net5.0/Helpers.pdb
Infraestructure/bin/Debug/net5.0/Infrastructure.dll
Infraestructure/bin/Debug/net5.0/Infrastructure.pdb
Infraestructure/obj/Debug/net5.0/Infrastructure.assets.cache
Infraestructure/obj/Debug/net5.0/Infrastructure.csproj.AssemblyReference.cache
Infraestructure/obj/Debug/net5.0/Infrastructure.csproj.FileListAbsolute.txt
Infraestructure/obj/Debug/net5.0/Infrastructure.csprojAssemblyReference.cache
Infraestructure/obj/Debug/net5.0/Infrastructure.dll
Infraestructure/obj/Debug/net5.0/Infrastructure.genruntimeconfig.cache
Infraestructure/obj/Debug/net5.0/Infrastructure.pdb
Infraestructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infraestructure/obj/Infrastructure.csproj.nuget.g.props
Infraestructure/obj/project.assets.json
Infraestructure/obj/project.nuget.cache
NorthwindAPI/.vs/NorthwindAPI/DesignTimeBuild/.dtbcache.v2
NorthwindAPI/.vs/NorthwindAPI/v16/.suo
NorthwindAPI/bin/Debug/net5.0/ApplicationCore.dll
NorthwindAPI/bin/Debug/net5.0/ApplicationCore.pdb
NorthwindAPI/bin/Debug/net5.0/Helpers.dll
NorthwindAPI/bin/Debug/net5.0/Helpers.pdb
NorthwindAPI/bin/Debug/net5.0/Infrastructure.dll
NorthwindAPI/bin/Debug/net5.0/Infrastructure.pdb
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.dll
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.exe
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.pdb
NorthwindAPI/obj/Debug/net5.0/apphost.exe
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.assets.cache
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.csproj.AssemblyReference.cache
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.csproj.FileListAbsolute.txt
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.csprojAssemblyReference.cache
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.dll
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.genruntimeconfig.cache
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.pdb
NorthwindAPI/obj/Debug/netcoreapp3.1/NorthwindAPI.csproj.AssemblyReference.cache
NorthwindAPI/obj/NorthwindAPI.csproj.nuget.dgspec.json
NorthwindAPI/obj/NorthwindAPI.csproj.nuget.g.props
NorthwindAPI/obj/project.assets.json
NorthwindAPI/obj/project.nuget.cache
