
ApplicationCore/bin/Debug/net5.0/ApplicationCore.dll
ApplicationCore/bin/Debug/net5.0/ApplicationCore.pdb
ApplicationCore/bin/Debug/net5.0/Helpers.dll
ApplicationCore/bin/Debug/net5.0/Helpers.pdb
ApplicationCore/obj/ApplicationCore.csproj.nuget.dgspec.json
ApplicationCore/obj/ApplicationCore.csproj.nuget.g.props
ApplicationCore/obj/Debug/net5.0/ApplicationCore.assets.cache
ApplicationCore/obj/Debug/net5.0/ApplicationCore.csproj.AssemblyReference.cache
ApplicationCore/obj/Debug/net5.0/ApplicationCore.csproj.FileListAbsolute.txt
ApplicationCore/obj/Debug/net5.0/ApplicationCore.csprojAssemblyReference.cache
ApplicationCore/obj/Debug/net5.0/ApplicationCore.dll
ApplicationCore/obj/Debug/net5.0/ApplicationCore.pdb
ApplicationCore/obj/project.assets.json
ApplicationCore/obj/project.nuget.cache
BLL/obj/BLL.csproj.nuget.dgspec.json
BLL/obj/BLL.csproj.nuget.g.props
BLL/obj/BLL.csproj.nuget.g.targets
BLL/obj/project.assets.json
BLL/obj/project.nuget.cache
DAL/obj/DAL.csproj.nuget.dgspec.json
DAL/obj/DAL.csproj.nuget.g.props
DAL/obj/DAL.csproj.nuget.g.targets
DAL/obj/project.assets.json
DAL/obj/project.nuget.cache
Helpers/bin/Debug/net5.0/Helpers.dll
Helpers/bin/Debug/net5.0/Helpers.pdb
Helpers/obj/Debug/net5.0/Helpers.assets.cache
Helpers/obj/Debug/net5.0/Helpers.csproj.AssemblyReference.cache
Helpers/obj/Debug/net5.0/Helpers.csproj.FileListAbsolute.txt
Helpers/obj/Debug/net5.0/Helpers.csprojAssemblyReference.cache
Helpers/obj/Debug/net5.0/Helpers.dll
Helpers/obj/Debug/net5.0/Helpers.pdb
Helpers/obj/Helpers.csproj.nuget.dgspec.json
Helpers/obj/Helpers.csproj.nuget.g.props
Helpers/obj/project.assets.json
Helpers/obj/project.nuget.cache
Infraestructure/bin/Debug/net5.0/ApplicationCore.dll
Infraestructure/bin/Debug/net5.0/ApplicationCore.pdb
Infraestructure/bin/Debug/net5.0/Helpers.dll
Infraestructure/bin/Debug/net5.0/Helpers.pdb
Infraestructure/bin/Debug/net5.0/Infrastructure.dll
Infraestructure/bin/Debug/net5.0/Infrastructure.pdb
Infraestructure/obj/Debug/net5.0/Infrastructure.assets.cache
Infraestructure/obj/Debug/net5.0/Infrastructure.csproj.AssemblyReference.cache
Infraestructure/obj/Debug/net5.0/Infrastructure.csproj.FileListAbsolute.txt
Infraestructure/obj/Debug/net5.0/Infrastructure.csprojAssemblyReference.cache
Infraestructure/obj/Debug/net5.0/Infrastructure.dll
Infraestructure/obj/Debug/net5.0/Infrastructure.genruntimeconfig.cache
Infraestructure/obj/Debug/net5.0/Infrastructure.pdb
Infraestructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infraestructure/obj/Infrastructure.csproj.nuget.g.props
Infraestructure/obj/project.assets.json
Infraestructure/obj/project.nuget.cache
NorthwindAPI/.vs/NorthwindAPI/DesignTimeBuild/.dtbcache.v2
NorthwindAPI/.vs/NorthwindAPI/v16/.suo
NorthwindAPI/bin/Debug/net5.0/ApplicationCore.dll
NorthwindAPI/bin/Debug/net5.0/ApplicationCore.pdb
NorthwindAPI/bin/Debug/net5.0/Helpers.dll
NorthwindAPI/bin/Debug/net5.0/Helpers.pdb
NorthwindAPI/bin/Debug/net5.0/Infrastructure.dll
NorthwindAPI/bin/Debug/net5.0/Infrastructure.pdb
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.dll
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.exe
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.pdb
NorthwindAPI/obj/Debug/net5.0/apphost.exe
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.assets.cache
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.csproj.AssemblyReference.cache
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.csproj.FileListAbsolute.txt
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.csprojAssemblyReference.cache
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.dll
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.genruntimeconfig.cache
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.pdb
NorthwindAPI/obj/Debug/netcoreapp3.1/NorthwindAPI.csproj.AssemblyReference.cache
NorthwindAPI/obj/NorthwindAPI.csproj.nuget.dgspec.json
NorthwindAPI/obj/NorthwindAPI.csproj.nuget.g.props
NorthwindAPI/obj/project.assets.json
NorthwindAPI/obj/project.nuget.cache
Helpers/obj/Debug/net5.0/Helpers.csproj.FileListAbsolute.txt
NorthwindAPI/.vs/NorthwindAPI/v16/.suo
NorthwindAPI/.vs/NorthwindAPI/v16/.suo
ApplicationCore/bin/Debug/net5.0/ApplicationCore.deps.json
ApplicationCore/bin/Debug/net5.0/ApplicationCore.dll
ApplicationCore/bin/Debug/net5.0/ApplicationCore.pdb
ApplicationCore/bin/Debug/net5.0/Helpers.dll
ApplicationCore/bin/Debug/net5.0/Helpers.pdb
ApplicationCore/bin/Debug/net5.0/ref/ApplicationCore.dll
ApplicationCore/obj/ApplicationCore.csproj.nuget.dgspec.json
ApplicationCore/obj/Debug/net5.0/ApplicationCore.assets.cache
ApplicationCore/obj/Debug/net5.0/ApplicationCore.csproj.CoreCompileInputs.cache
ApplicationCore/obj/Debug/net5.0/ApplicationCore.dll
ApplicationCore/obj/Debug/net5.0/ApplicationCore.pdb
ApplicationCore/obj/Debug/net5.0/ref/ApplicationCore.dll
ApplicationCore/obj/project.assets.json
ApplicationCore/obj/project.nuget.cache
Helpers/bin/Debug/net5.0/Helpers.dll
Helpers/bin/Debug/net5.0/Helpers.pdb
Helpers/bin/Debug/net5.0/ref/Helpers.dll
Helpers/obj/Debug/net5.0/Helpers.csproj.CoreCompileInputs.cache
Helpers/obj/Debug/net5.0/Helpers.dll
Helpers/obj/Debug/net5.0/Helpers.pdb
Helpers/obj/Debug/net5.0/ref/Helpers.dll
Infraestructure/bin/Debug/net5.0/ApplicationCore.dll
Infraestructure/bin/Debug/net5.0/ApplicationCore.pdb
Infraestructure/bin/Debug/net5.0/Helpers.dll
Infraestructure/bin/Debug/net5.0/Helpers.pdb
Infraestructure/bin/Debug/net5.0/Infrastructure.deps.json
Infraestructure/bin/Debug/net5.0/Infrastructure.dll
Infraestructure/bin/Debug/net5.0/Infrastructure.pdb
Infraestructure/bin/Debug/net5.0/ref/Infrastructure.dll
Infraestructure/obj/Debug/net5.0/Infrastructure.assets.cache
Infraestructure/obj/Debug/net5.0/Infrastructure.csproj.CoreCompileInputs.cache
Infraestructure/obj/Debug/net5.0/Infrastructure.dll
Infraestructure/obj/Debug/net5.0/Infrastructure.pdb
Infraestructure/obj/Debug/net5.0/ref/Infrastructure.dll
Infraestructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infraestructure/obj/Infrastructure.csproj.nuget.g.props
Infraestructure/obj/project.assets.json
Infraestructure/obj/project.nuget.cache
Infraestructure/Repositories/BaseRepository.cs
NorthwindAPI/.vs/NorthwindAPI/v16/.suo
NorthwindAPI/bin/Debug/net5.0/ApplicationCore.dll
NorthwindAPI/bin/Debug/net5.0/ApplicationCore.pdb
NorthwindAPI/bin/Debug/net5.0/Helpers.dll
NorthwindAPI/bin/Debug/net5.0/Helpers.pdb
NorthwindAPI/bin/Debug/net5.0/Infrastructure.dll
NorthwindAPI/bin/Debug/net5.0/Infrastructure.pdb
NorthwindAPI/bin/Debug/net5.0/Newtonsoft.Json.dll
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.deps.json
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.dll
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.pdb
NorthwindAPI/bin/Debug/net5.0/ref/NorthwindAPI.dll
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.assets.cache
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.csproj.CoreCompileInputs.cache
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.dll
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.pdb
NorthwindAPI/obj/Debug/net5.0/ref/NorthwindAPI.dll
NorthwindAPI/obj/NorthwindAPI.csproj.nuget.dgspec.json
NorthwindAPI/obj/NorthwindAPI.csproj.nuget.g.props
NorthwindAPI/obj/project.assets.json
NorthwindAPI/obj/project.nuget.cache
ApplicationCore/obj/Debug/net5.0/ApplicationCore.assets.cache
ApplicationCore/bin/Debug/net5.0/ApplicationCore.deps.json
ApplicationCore/bin/Debug/net5.0/ApplicationCore.dll
ApplicationCore/bin/Debug/net5.0/ApplicationCore.pdb
ApplicationCore/bin/Debug/net5.0/Helpers.dll
ApplicationCore/bin/Debug/net5.0/Helpers.pdb
ApplicationCore/bin/Debug/net5.0/ref/ApplicationCore.dll
ApplicationCore/obj/ApplicationCore.csproj.nuget.dgspec.json
ApplicationCore/obj/Debug/net5.0/ApplicationCore.assets.cache
ApplicationCore/obj/Debug/net5.0/ApplicationCore.csproj.CoreCompileInputs.cache
ApplicationCore/obj/Debug/net5.0/ApplicationCore.dll
ApplicationCore/obj/Debug/net5.0/ApplicationCore.pdb
ApplicationCore/obj/Debug/net5.0/ref/ApplicationCore.dll
ApplicationCore/obj/project.assets.json
ApplicationCore/obj/project.nuget.cache
Helpers/bin/Debug/net5.0/Helpers.dll
Helpers/bin/Debug/net5.0/Helpers.pdb
Helpers/bin/Debug/net5.0/ref/Helpers.dll
Helpers/obj/Debug/net5.0/Helpers.csproj.CoreCompileInputs.cache
Helpers/obj/Debug/net5.0/Helpers.csproj.FileListAbsolute.txt
Helpers/obj/Debug/net5.0/Helpers.dll
Helpers/obj/Debug/net5.0/Helpers.pdb
Helpers/obj/Debug/net5.0/ref/Helpers.dll
Infraestructure/bin/Debug/net5.0/ApplicationCore.dll
Infraestructure/bin/Debug/net5.0/ApplicationCore.pdb
Infraestructure/bin/Debug/net5.0/Helpers.dll
Infraestructure/bin/Debug/net5.0/Helpers.pdb
Infraestructure/bin/Debug/net5.0/Infrastructure.deps.json
Infraestructure/bin/Debug/net5.0/Infrastructure.dll
Infraestructure/bin/Debug/net5.0/Infrastructure.pdb
Infraestructure/bin/Debug/net5.0/ref/Infrastructure.dll
Infraestructure/obj/Debug/net5.0/Infrastructure.assets.cache
Infraestructure/obj/Debug/net5.0/Infrastructure.csproj.CoreCompileInputs.cache
Infraestructure/obj/Debug/net5.0/Infrastructure.dll
Infraestructure/obj/Debug/net5.0/Infrastructure.pdb
Infraestructure/obj/Debug/net5.0/ref/Infrastructure.dll
Infraestructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infraestructure/obj/Infrastructure.csproj.nuget.g.props
Infraestructure/obj/project.assets.json
Infraestructure/obj/project.nuget.cache
NorthwindAPI/.vs/NorthwindAPI/DesignTimeBuild/.dtbcache.v2
NorthwindAPI/.vs/NorthwindAPI/v16/.suo
NorthwindAPI/bin/Debug/net5.0/ApplicationCore.dll
NorthwindAPI/bin/Debug/net5.0/ApplicationCore.pdb
NorthwindAPI/bin/Debug/net5.0/Helpers.dll
NorthwindAPI/bin/Debug/net5.0/Helpers.pdb
NorthwindAPI/bin/Debug/net5.0/Infrastructure.dll
NorthwindAPI/bin/Debug/net5.0/Infrastructure.pdb
NorthwindAPI/bin/Debug/net5.0/Newtonsoft.Json.dll
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.deps.json
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.dll
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.pdb
NorthwindAPI/bin/Debug/net5.0/ref/NorthwindAPI.dll
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.assets.cache
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.csproj.CoreCompileInputs.cache
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.dll
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.pdb
NorthwindAPI/obj/Debug/net5.0/ref/NorthwindAPI.dll
NorthwindAPI/obj/NorthwindAPI.csproj.nuget.dgspec.json
NorthwindAPI/obj/NorthwindAPI.csproj.nuget.g.props
NorthwindAPI/obj/project.assets.json
NorthwindAPI/obj/project.nuget.cache
ApplicationCore/bin/Debug/net5.0/ApplicationCore.deps.json
ApplicationCore/bin/Debug/net5.0/ApplicationCore.dll
ApplicationCore/bin/Debug/net5.0/ApplicationCore.pdb
ApplicationCore/bin/Debug/net5.0/Helpers.dll
ApplicationCore/bin/Debug/net5.0/Helpers.pdb
ApplicationCore/bin/Debug/net5.0/ref/ApplicationCore.dll
ApplicationCore/obj/ApplicationCore.csproj.nuget.dgspec.json
ApplicationCore/obj/ApplicationCore.csproj.nuget.g.props
ApplicationCore/obj/ApplicationCore.csproj.nuget.g.targets
ApplicationCore/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ApplicationCore/obj/Debug/net5.0/ApplicationCore.AssemblyInfo.cs
ApplicationCore/obj/Debug/net5.0/ApplicationCore.AssemblyInfoInputs.cache
ApplicationCore/obj/Debug/net5.0/ApplicationCore.assets.cache
ApplicationCore/obj/Debug/net5.0/ApplicationCore.csproj.CopyComplete
ApplicationCore/obj/Debug/net5.0/ApplicationCore.csproj.CoreCompileInputs.cache
ApplicationCore/obj/Debug/net5.0/ApplicationCore.csproj.FileListAbsolute.txt
ApplicationCore/obj/Debug/net5.0/ApplicationCore.dll
ApplicationCore/obj/Debug/net5.0/ApplicationCore.GeneratedMSBuildEditorConfig.editorconfig
ApplicationCore/obj/Debug/net5.0/ApplicationCore.pdb
ApplicationCore/obj/Debug/net5.0/ref/ApplicationCore.dll
ApplicationCore/obj/project.assets.json
ApplicationCore/obj/project.nuget.cache
Helpers/bin/Debug/net5.0/Helpers.deps.json
Helpers/bin/Debug/net5.0/Helpers.dll
Helpers/bin/Debug/net5.0/Helpers.pdb
Helpers/bin/Debug/net5.0/ref/Helpers.dll
Helpers/bin/Debug/netstandard2.1/Helpers.deps.json
Helpers/bin/Debug/netstandard2.1/Helpers.dll
Helpers/bin/Debug/netstandard2.1/Helpers.pdb
Helpers/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Helpers/obj/Debug/net5.0/Helpers.assets.cache
Helpers/obj/Debug/net5.0/Helpers.csproj.CoreCompileInputs.cache
Helpers/obj/Debug/net5.0/Helpers.csproj.FileListAbsolute.txt
Helpers/obj/Debug/net5.0/Helpers.dll
Helpers/obj/Debug/net5.0/Helpers.GeneratedMSBuildEditorConfig.editorconfig
Helpers/obj/Debug/net5.0/Helpers.pdb
Helpers/obj/Debug/net5.0/ref/Helpers.dll
Helpers/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Helpers/obj/Debug/netstandard2.1/Helpers.AssemblyInfo.cs
Helpers/obj/Debug/netstandard2.1/Helpers.AssemblyInfoInputs.cache
Helpers/obj/Debug/netstandard2.1/Helpers.assets.cache
Helpers/obj/Debug/netstandard2.1/Helpers.csproj.CoreCompileInputs.cache
Helpers/obj/Debug/netstandard2.1/Helpers.csproj.FileListAbsolute.txt
Helpers/obj/Debug/netstandard2.1/Helpers.csprojAssemblyReference.cache
Helpers/obj/Debug/netstandard2.1/Helpers.dll
Helpers/obj/Debug/netstandard2.1/Helpers.pdb
Helpers/obj/Helpers.csproj.nuget.dgspec.json
Helpers/obj/Helpers.csproj.nuget.g.props
Helpers/obj/Helpers.csproj.nuget.g.targets
Helpers/obj/project.assets.json
Helpers/obj/project.nuget.cache
Helpers/obj/project.packagespec.json
Helpers/obj/rider.project.restore.info
Infraestructure/bin/Debug/net5.0/ApplicationCore.dll
Infraestructure/bin/Debug/net5.0/ApplicationCore.pdb
Infraestructure/bin/Debug/net5.0/Helpers.dll
Infraestructure/bin/Debug/net5.0/Helpers.pdb
Infraestructure/bin/Debug/net5.0/Infrastructure.deps.json
Infraestructure/bin/Debug/net5.0/Infrastructure.dll
Infraestructure/bin/Debug/net5.0/Infrastructure.pdb
Infraestructure/bin/Debug/net5.0/Infrastructure.runtimeconfig.dev.json
Infraestructure/bin/Debug/net5.0/Infrastructure.runtimeconfig.json
Infraestructure/bin/Debug/net5.0/ref/Infrastructure.dll
Infraestructure/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Infraestructure/obj/Debug/net5.0/Infraestructure.AssemblyInfo.cs
Infraestructure/obj/Debug/net5.0/Infraestructure.AssemblyInfoInputs.cache
Infraestructure/obj/Debug/net5.0/Infraestructure.assets.cache
Infraestructure/obj/Debug/net5.0/Infraestructure.csproj.CoreCompileInputs.cache
Infraestructure/obj/Debug/net5.0/Infraestructure.csproj.FileListAbsolute.txt
Infraestructure/obj/Debug/net5.0/Infraestructure.csprojAssemblyReference.cache
Infraestructure/obj/Debug/net5.0/Infraestructure.GeneratedMSBuildEditorConfig.editorconfig
Infraestructure/obj/Debug/net5.0/Infrastructure.AssemblyInfo.cs
Infraestructure/obj/Debug/net5.0/Infrastructure.AssemblyInfoInputs.cache
Infraestructure/obj/Debug/net5.0/Infrastructure.assets.cache
Infraestructure/obj/Debug/net5.0/Infrastructure.csproj.CopyComplete
Infraestructure/obj/Debug/net5.0/Infrastructure.csproj.CoreCompileInputs.cache
Infraestructure/obj/Debug/net5.0/Infrastructure.csproj.FileListAbsolute.txt
Infraestructure/obj/Debug/net5.0/Infrastructure.dll
Infraestructure/obj/Debug/net5.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Infraestructure/obj/Debug/net5.0/Infrastructure.genruntimeconfig.cache
Infraestructure/obj/Debug/net5.0/Infrastructure.pdb
Infraestructure/obj/Debug/net5.0/ref/Infrastructure.dll
Infraestructure/obj/Infraestructure.csproj.nuget.dgspec.json
Infraestructure/obj/Infraestructure.csproj.nuget.g.props
Infraestructure/obj/Infraestructure.csproj.nuget.g.targets
Infraestructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infraestructure/obj/Infrastructure.csproj.nuget.g.props
Infraestructure/obj/Infrastructure.csproj.nuget.g.targets
Infraestructure/obj/project.assets.json
Infraestructure/obj/project.nuget.cache
NorthwindAPI/.vs/NorthwindAPI/xs/project-cache/ApplicationCore-Debug.json
NorthwindAPI/.vs/NorthwindAPI/xs/project-cache/Helpers-Debug.json
NorthwindAPI/.vs/NorthwindAPI/xs/project-cache/Infrastructure-Debug.json
NorthwindAPI/.vs/NorthwindAPI/xs/project-cache/NorthwindAPI-Debug.json
NorthwindAPI/.vs/NorthwindAPI/xs/UserPrefs.xml
NorthwindAPI/appsettings.json
NorthwindAPI/bin/Debug/net5.0/ApplicationCore.dll
NorthwindAPI/bin/Debug/net5.0/ApplicationCore.pdb
NorthwindAPI/bin/Debug/net5.0/appsettings.Development.json
NorthwindAPI/bin/Debug/net5.0/appsettings.json
NorthwindAPI/bin/Debug/net5.0/EntityFramework.dll
NorthwindAPI/bin/Debug/net5.0/EntityFramework.SqlServer.dll
NorthwindAPI/bin/Debug/net5.0/Helpers.dll
NorthwindAPI/bin/Debug/net5.0/Helpers.pdb
NorthwindAPI/bin/Debug/net5.0/Humanizer.dll
NorthwindAPI/bin/Debug/net5.0/Infrastructure.dll
NorthwindAPI/bin/Debug/net5.0/Infrastructure.pdb
NorthwindAPI/bin/Debug/net5.0/Microsoft.AspNet.Identity.Core.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.AspNet.Identity.EntityFramework.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.AspNetCore.Cryptography.Internal.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.Extensions.Identity.Core.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.Extensions.Identity.Stores.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.Identity.Client.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
NorthwindAPI/bin/Debug/net5.0/Microsoft.OpenApi.dll
NorthwindAPI/bin/Debug/net5.0/Newtonsoft.Json.dll
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.deps.json
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.dll
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.exe
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.pdb
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.runtimeconfig.dev.json
NorthwindAPI/bin/Debug/net5.0/NorthwindAPI.runtimeconfig.json
NorthwindAPI/bin/Debug/net5.0/ref/NorthwindAPI.dll
NorthwindAPI/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
NorthwindAPI/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
NorthwindAPI/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
NorthwindAPI/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
NorthwindAPI/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
NorthwindAPI/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
NorthwindAPI/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
NorthwindAPI/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
NorthwindAPI/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
NorthwindAPI/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
NorthwindAPI/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
NorthwindAPI/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
NorthwindAPI/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
NorthwindAPI/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
NorthwindAPI/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
NorthwindAPI/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
NorthwindAPI/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
NorthwindAPI/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
NorthwindAPI/bin/Debug/net5.0/System.Runtime.Caching.dll
NorthwindAPI/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
NorthwindAPI/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
NorthwindAPI/obj/Debug/net5.0/apphost.exe
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.AssemblyInfo.cs
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.AssemblyInfoInputs.cache
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.assets.cache
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.csproj.CopyComplete
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.csproj.CoreCompileInputs.cache
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.csproj.FileListAbsolute.txt
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.dll
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.GeneratedMSBuildEditorConfig.editorconfig
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.genruntimeconfig.cache
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.MvcApplicationPartsAssemblyInfo.cache
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.MvcApplicationPartsAssemblyInfo.cs
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.pdb
NorthwindAPI/obj/Debug/net5.0/NorthwindAPI.RazorTargetAssemblyInfo.cache
NorthwindAPI/obj/Debug/net5.0/ref/NorthwindAPI.dll
NorthwindAPI/obj/Debug/net5.0/staticwebassets/NorthwindAPI.StaticWebAssets.Manifest.cache
NorthwindAPI/obj/Debug/net5.0/staticwebassets/NorthwindAPI.StaticWebAssets.xml
NorthwindAPI/obj/NorthwindAPI.csproj.nuget.dgspec.json
NorthwindAPI/obj/NorthwindAPI.csproj.nuget.g.props
NorthwindAPI/obj/NorthwindAPI.csproj.nuget.g.targets
NorthwindAPI/obj/project.assets.json
NorthwindAPI/obj/project.nuget.cache
